* {
  box-sizing: border-box;
}

.app{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.tile{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.tile.zero{
    grid-row: span 3;
}

.tile-container{
    display: grid;
    grid-template-columns: repeat(13, 50px); 
    grid-template-rows: repeat(3, 50px); 
    gap: 2px;
    grid-auto-flow: column;
    padding: 3px;
}

.all-chips-container{
    display: flex;
    flex-direction: row;
}

.chip-container{
    display: flex;
    flex-direction: column;
    padding: 1px;
    gap: 3px;
}

.chip{
    width: 30px;
    height: 10px;
}

.chip.one{
    background-color: grey;
}

.chip.five{
    background-color: red;
}

.chip.twentyfive{
    background-color: blue;
}

.chip.hundred{
    background-color: blueviolet;
}

.select-chips-container{
    display: flex;
    flex-direction: row;
}

.balance-display{
    background-color: rgb(57, 232, 41);
    border: solid black 1px;
    padding: 3px;
}